.add-category {
    max-width: 400px;
}

.controls-group {
  button {
    margin-left: auto;
    display: block;
  }
}

.description-field {
  width: 100%;
  display: block;
}

.label {
  margin-right: 7px;
}

