.edit-layout {
  background: #fcf9f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header, .footer {
  padding: 15px 45px;
  color: #666;

  h2 {
    font-family: 'Roboto', sans-serif;
  }
}

.content {
  padding: 20px 45px 10px;
}
