.product-add-wrapper {
  max-width: 400px;
}

mat-form-field {
  //min-width: 220px;
}

.name-field {
  //width: 100%;
}

.brand-label {
  margin-right: 7px;
}

.form-inner {
  //max-width: 300px;
}

.weight-field, .price-field {
  max-width: 70px;
}

.row {
  justify-content: space-between;
}

.controls-group {
  button {
    margin-left: auto;
    display: block;
  }
}

.description-field {
  width: 100%;
  display: block;
}
