.banner-item {
  display: block;
}
.right {
  margin-left: 25px;
}
.left, .right {
}
.banner-wrapper {
  padding-top: 53px;
}
section.row {
  margin-bottom: 20px;
}

.product-list {
  display: block;
  min-height: 625px;
  width: 805px;
}
.title {
  margin: 0;
  color: #3d454c;
  text-transform: uppercase;
}
