<aside class="left-sidebar" >
  <!--  ASIDE NAV BLOCK  -->
  <div class="aside-nav">
    <!--  ASIDE NAV LIST  -->
    <ul class="nav-list main-list">
      <!--  NAV LIST LINK ITEM  -->
      <li *ngFor="let item of asideBarService.asideMenu"  >
        <a *ngIf="item.link" [routerLink]="[item.link]" routerLinkActive="$router_link-active$" class="nav-link"
           [ngClass]="{ 'selected' : item.id  == asideBarService.currentSelected }"
           (click)="this.asideBarService.toggleLink($event, item.id)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="category-icon">
            <path [attr.d] = item.icon.path /></svg>
          {{item.title}}
        </a>
        <a *ngIf="!item.link" href="#" (click)="this.asideBarService.toggleList($event)" >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="category-icon">
            <path [attr.d] = item.icon.path />
          </svg>
          {{item.title}}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="angle-control">
            <path d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"/>
          </svg>
        </a>
        <!--  NAV LIST LINK ITEM SUBMENU  -->
        <ul *ngIf="item.submenu" class="nav-list sub-list">
          <li *ngFor ="let subMenuItem of item.submenu; index as i">
            <!--  SUBMENU ITEM LINK   -->
            <a [routerLink]="[subMenuItem.link]" routerLinkActive="$router_link-active$" class="nav-link"
               [ngClass]="{ 'selected' : i + 100  == asideBarService.currentSelected }"
               (click)="this.asideBarService.toggleLink($event, i + 100)">
              {{subMenuItem.title}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
