<footer>
    <div class="top">
      <div class="container">
        <div class="newsletter">
          <h3>Newsletter</h3>
          <p>Sign up to receive the latest news, exclusive offers, and other discount information.</p>
          <div class="input-wrapper">
            <input type="text" placeholder="Enter your e-mail">
            <button type="submit">
              <i class="fa fa-envelope"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <ul class="copyright-nav row space-around">
          <li><a href="#">Intellectual Property Protection</a></li>
          <li><a href="#">Privacy Policy</a> </li>
          <li><a href="#">Карта сайта</a></li>
          <li><a href="#">Term of Use and Legal Information</a></li>
          <li><a href="#">User Information Legal Enquiry Guide ©</a></li>
          <li><a href="#">2010-2019 AliExpress.com. Все права защищены.</a></li>
        </ul>
      </div>
    </div>
</footer>
