<div class="row">
  <div class="column">
    <app-edit-layout class="product-add-layout">
      <p class="title">Set product info and save to base</p>
      <!--    ADD CATEGORY COMPONENT    -->
      <app-add-category (categoryAdded)="loadItems($event)"></app-add-category>
    </app-edit-layout>
  </div>
  <div class="column">
    <div class="row  wrap" *ngIf="categories">
      <!--   CATEGORIES LIST  -->
      <app-category-item *ngFor="let item of categories" [categoryItem]="item" class="category-item"></app-category-item>
    </div>
  </div>
</div>

