.cart-modal-message {
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px 0;
  opacity: 0;
  color: #ffffff;
  z-index: 2313;
  transition: opacity 1s ease-in-out;
}

.item-add {
  background: #fd9148;
}

.item-removed {
  background: red;
}

.item-updated {
  background: #00aaff;
}

.fade-in {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
