<div class="cart-table">
  <div class="cart-table-inner cart-table-default">
    <table>
      <!--  TABLE HEAD   -->
      <thead>
      <tr>
        <td class="text-center">Image</td>
        <td>Product Name</td>
        <td>Model</td>
        <td>Quantity</td>
        <td class="text-right">Unit Price</td>
        <td class="text-right">Total</td>
      </tr>
      </thead>
      <tbody>
      <!--  TABLE ROW  -->
      <tr *ngFor="let product of cartService.loadedProducts; index as i">
        <!-- PRODUCT SCREEN TD -->
        <td *ngIf="product.brand | async as brand">
          <a [routerLink]="['/shop/product', product.id]" routerLinkActive="$router_link-active$"
             [title]="brand.name + ' ' + product.name.title" class="product-img">
            <img [src]="product.screen | serverImage"  alt="img">
          </a>
        </td>
        <!-- PRODUCT NAME TD -->
        <td class="name">
          <a [routerLink]="['/shop/product', product.id]" routerLinkActive="$router_link-active$">
            {{ product.name.title }}
          </a>
          <span *ngIf="cartService.storedItems[i].size === sizeMode.SMALL">Size: Small</span>
          <span *ngIf="cartService.storedItems[i].size === sizeMode.MEDIUM">Size: Medium</span>
          <span *ngIf="cartService.storedItems[i].size === sizeMode.LARGE">Size: Large</span>
        </td>
        <!-- PRICE TD -->
        <td>Model</td>
        <td class="quantity">
          <div class="quantity-inner row">
            <input type="number" min="1" class="count-input" #input [value]="cartService.storedItems[i].count">
            <button type="button" class="form-btn" (click)="setCount(input, i)">
              <i class="fa fa-refresh"></i>
            </button>
            <button type="button" class="form-btn delete-btn" (click)="cartService.deleteItem(product.id)">
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
        </td>
        <td class="price">
          <span class="text-right">&pound;{{ product.price | productPrice }}</span>
        </td>
        <!-- TOTAL PRICE TD -->
        <td class="total-price">
          <span class="text-right">&pound;{{ product.price | productPrice }}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
