.big-cart {
  padding: 0 0 50px;
}



p {
  margin: 0 0 10px;
  font: 400 14px/21px "Raleway", sans-serif;
}

h1, h2  {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0;
  margin-top: 30px;
  color: #3d454c;
  font-weight: bold;
  letter-spacing: .8px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  margin: 0 0 20px;
}

.cart-table {
  width: 100%;
}

mat-divider {
  display: block;
  margin: 12px 0 25px;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 0;
  border-spacing: 0;
  border-collapse: collapse;
  font: 400 14px/21px "Raleway", sans-serif;
  color: #485154;

  span {
    display: block;
    width: 100%;
    text-decoration: none;
    font: 400 14px/21px "Raleway", sans-serif;
    color: inherit;
  }

  thead {
    td {
      text-transform: uppercase;
    }
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  td {
    border: 1px solid #ddd;
    //text-transform: uppercase;
    color: #292929;
    font: 600 13px 'Raleway', sans-serif;
    background-color: #f9f9f9;
    border-top: 0;
    padding: 10px;
  }

  tbody {
    td {
      background: #ffffff;
    }
  }
}

.product-img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.name {
  a {
    display: block;
    width: 100%;
    text-decoration: none;
    font: 400 14px/21px "Raleway", sans-serif;
    color: inherit;

    &:hover {
      color: #fd9148;
    }
  }
}

.cart-controls {
  width: 100%;
  padding: 30px 0;
}

.add-to-cart-button {
  text-decoration: none;
  width: auto;
  text-align: center;
}

.empty-cart-control {
  padding: 0 0 40px;

  a {
    margin-left: auto;
  }
}

.panel-group {

  .panel {
    margin: 15px 0;
    border: 1px solid #ddd;

    .panel-head {
      background-color: #f9f9f9;

      a {
        display: block;
        padding: 20px;
        position: relative;
        text-transform: uppercase;
        width: auto;
        color: inherit;
        text-decoration: none;
        font: 600 16px/21px "Raleway", sans-serif;

        &:hover {
          color: #fd9148;
        }

        i {
          display: inline-block;
          margin-left: 5px;
        }
      }
    }

    .panel-content {
      max-height: 500px;
      transition: all 0.5s ease-in-out;
      overflow: hidden;

      label {
        display: block;
        margin: 0 0 10px;
        font: 400 12px 'Raleway', sans-serif;
      }

      input {
        display: block;
        padding: 10px;
        width: 70%;
        border: 1px solid #ddd;
        color: inherit;
        outline: none;

        &:focus {
          outline: 1px solid #bfbfbf;
        }
      }
    }

    .panel-content-inner {
      padding: 25px 20px;
      border-top: 1px solid #ddd;
    }
  }
}

.collapsed {
  max-height: 0 !important;
  border: none !important;
}

.delete-btn {
  display: block;
  height: 46px;
  border-radius: 0 18px 18px 0;
  overflow: hidden;
  text-transform: uppercase;
  padding: 5px 29px;
  font: 600 12px/25px 'Raleway', sans-serif;
  color: #fff;
  transition: all 0.4s ease;
  background: #fd9148;
  letter-spacing: 1.4px;
  border: none;
  outline: none;
  outline-offset: 0;
  cursor: pointer;

  &:hover {
    background: #000000;
  }
}

.count-input {
  display: block;
  padding: 0 10px;
  text-align: center;
  width: 60px;
  border: 1px solid #dddddd;
  border-right: none;

  &:focus {
    outline:1px solid #dddddd;
  }
}

.calculation-table {

  table {
    margin: 20px 0 10px auto;
    max-width: 350px;

    td {
      text-align: right;

      &:first-child {
        font-weight: 600;
      }
    }
  }
}
