<div class="road-map" *ngIf="categoryData">
  <div class="container">
    <app-road-nav [selectedCategoryTitle]="categoryData.name"></app-road-nav>
  </div>
</div>
<!-- CATEGORY DESCRIPTION -->
<app-category-description [categoryData]="categoryData" ></app-category-description>
<div class="row category-list" *ngIf="categories | async | categorySort:'home' as items">
  <div class="container row">
    <app-category-item *ngFor="let item of items" [categoryItem]="item" class="category-item"></app-category-item>
  </div>
</div>
<!-- CATEGORY PRODUCT LIST -->
<div class="row">
  <div class="container">
    <app-item-list></app-item-list>
  </div>
</div>

